.main {
	&-page {
		background-image: url('../../assets/bg-main.png');
		width: 100%;
		aspect-ratio: 1400/320;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		height: 600px;
	}

	&__cont {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		top: 20%;
		right: 5%;
	}

	&__container-title1 {
		width: 274px;
		text-align: center;
		h1 {
			font-size: clamp(0.9375rem, 0rem + 4.6875vw, 3rem);
			font-weight: 400;

			color: #000;
		}
	}

	&__container-title2 {
		h2 {
			font-size: clamp(1rem, -0.3636rem + 6.8182vw, 4rem);
			font-weight: bold;
			white-space: nowrap;
			color: #000;
		}
	}
}

.imgMain {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media (max-width: 768px) {
	.main {
		&__container-title1 {
			right: 5%;
			bottom: 60%;
		}
		&-page {
			height: 400px;
		}

		&__container-title2 {
			right: 5%;
			bottom: 40%;
		}
	}
}

@media (max-width: 524px) {
	.main {
		&__cont {
			top: 12%;
			right: 3%;
		}

		&-page {
			height: 250px;
		}

		&__container-title1 {
			width: 200px;
		}
	}
}

@media (max-width: 490px) {
	.main {
		&__cont {
			height: 150px;
		}

		&__container-title1 {
			right: 20px;
			bottom: 65%;

			h1 {
				font-size: clamp(1.2rem, 5vw, 1.5rem);
			}
		}

		&__container-title2 {
			right: 20px;
			bottom: 35%;

			h2 {
				font-size: clamp(1.5rem, 6vw, 2rem);
			}
		}
	}
}

@media (max-width: 340px) {
	.main {
		&__cont {
			top: 5%;
			right: 1%;
		}

		&-page {
			height: 150px;
		}

		&__container-title1 {
			width: 150px;
		}
	}
}
